SECRET_KEY="django-insecure-s-y_l4r.cjvhkndvohd;vn8e6thf;sdajh;ashijlgv_oem#$t8wvv8^0s&sz"

DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
